<?xml version="1.0" encoding="ISO-8859-1"?>
<widget
 id = "ar.com.ingverger.memorioso"
 versionCode = "10401"
 version  = "1.4.1" >

 <name>MEMORIOSO</name>

 <description>
 		Memorioso es un juego que desaf+¡a tu concentraci+¦n y memoria. 
		Existen diferentes grupos de im+ígenes. Tu eliges el grupo dentro del cual habr+í pares de im+ígenes iguales que debes detectar. 
		Existen varios niveles de dificultad dados por la cantidad de im+ígenes que se presentan.
		La mec+ínica del juego es simple, sin embargo requiere memoria para facilitar la ubicaci+¦n adecuada de los pares de im+ígenes.
 </description>

 <author href="http://www.ingverger.com.ar" email="ingverger@gmail.com">
  Guillermo Verger
 </author>

 <preference name="android-targetSdkVersion"  value="26" /> 
 <preference name="orientation" value="landscape" />  <!-- all: default means both landscape and portrait are enabled -->

 <content src="index.html" />
 <access origin="*" />

 <platform name="android">
  <allow-intent href="market:*" />
  <icon   src="icon.png" />
 </platform>

</widget>

